@mixin input-base-style() {
  background-color: var(--enabled);
  color: var(--text-1);
  border: 1px solid var(--field-border);
  border-radius: 10px;
  padding: 10px 15px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
  &::placeholder {
    color: var(--text-2);
  }
}

@mixin input-disabled-style() {
  background-color: var(--disabled);
  color: var(--text-2);
  cursor: not-allowed;
  &::placeholder {
    color: var(--text-3);
  }
}
