form.darpi.theme-light {
  --text-color: #1e1e1e;
  --text-disabled-color: #d0d6e1;
  --background-field-color: #ebecee;
  --placeholder-color: #b7babe;
  --dangerColor: #ff4651;
  --primary-color: #018ffb;
  --select-option-hover-color: #f5f5f5;
  --select-border-color: #fff;
  --primary-light-color: #e2f1ff;
  --background-switch-disabled-color: #babdc5;
  --slider-switch-disabled-color: #d0d6e1;
  --switch-background-color: #fff;
  //
}

form.darpi.theme-dark {
  --text-color: #babdc5;
  --text-disabled-color: #5f6072;
  --background-field-color: #2b2f39;
  --placeholder-color: #858a98;
  --dangerColor: #913540;
  --primary-color: #018ffb;
  --select-option-hover-color: #232832;
  --select-border-color: #424753;
  --primary-light-color: #303b58;
  --background-switch-disabled-color: #3a3c4e;
  --slider-switch-disabled-color: #5f6072;
  --switch-background-color: #303b58;
  //

  --switch-on-border-color: var(--primary-color);
  --switch-off-border-color: var(--primary-light-color);
  --switch-on-disabled-border-color: #424753;
  --switch-off-disabled-border-color: #424753;

  --switch-background-color-disabled: #3a3c4e;
}
